@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-size: 0.875rem;
  font-family: "Poppins", sans-serif;
  color: #333;
}
/* Custom Styles---- */
.bg-info {
  background-color: #eff6ff !important;
}
.bg-primary{
  background-color: #3c7edc !important;
}
span.bluetext{
  color: #0064FF;
 }
 
.notification-badge {
  width: 11px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  top: 8px;
  left: 16px;
}

::-ms-input-placeholder {
  /* Edge 12-18 */
  color: #ccc !important;
}

::placeholder {
  color: #ccc !important;
}

/*End of Custom Styles---- */
.container-scroller {
  overflow: hidden !important;
}
/* Navbar */
.navbar {
  background-color: #60b3fd;
  transition: background 0.25s ease;
  -webkit-transition: background 0.25s ease;
  -moz-transition: background 0.25s ease;
  -ms-transition: background 0.25s ease;
}
.navbar .navbar-brand {
  width: 260px;
}
.navbar .navbar-brand-wrapper {
  transition: width 0.25s ease, background 0.25s ease;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  -moz-transition: width 0.25s ease, background 0.25s ease;
  -ms-transition: width 0.25s ease, background 0.25s ease;
  background: #fff;
  width: 260px;
  height: 70px;
}
@media (max-width: 991px) {
  .navbar .navbar-brand-wrapper {
    width: 55px;
  }
}
.navbar .navbar-brand-wrapper .navbar-brand {
  color: #27367f;
  font-size: 1.5rem;
  line-height: 48px;
  margin-right: 0;
  padding: 0.25rem 0;
  width: 100%;
}
.navbar .navbar-brand-wrapper .navbar-brand:active,
.navbar .navbar-brand-wrapper .navbar-brand:focus,
.navbar .navbar-brand-wrapper .navbar-brand:hover {
  color: #1b2658;
}
.navbar .navbar-brand-wrapper .navbar-brand img {
  width: calc(260px - 120px);
  max-width: 100%;
  height: 28px;
  margin: auto;
  vertical-align: middle;
}
.navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini {
  display: none;
}
.navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini img {
  width: calc(70px - 50px);
  max-width: 100%;
  height: 28px;
  margin: auto;
}
.navbar .navbar-menu-wrapper {
  transition: width 0.25s ease;
  -webkit-transition: width 0.25s ease;
  -moz-transition: width 0.25s ease;
  -ms-transition: width 0.25s ease;
  color: #9c9fa6;
  padding-left: 24px;
  padding-right: 24px;
  width: calc(100% - 260px);
  height: 50px;
}
@media (max-width: 991px) {
  .navbar .navbar-menu-wrapper {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: flex-end;
  }
}
.navbar .navbar-menu-wrapper .navbar-toggler {
  border: 0;
  color: inherit;
  height: 70px;
  border-radius: 0px;
  padding-left: 5px;
  padding-right: 20px;
}
.navbar .navbar-menu-wrapper .navbar-toggler:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar .navbar-menu-wrapper .navbar-toggler:not(.navbar-toggler-right) {
  font-size: 1.5rem;
}
@media (max-width: 991px) {
  .navbar .navbar-menu-wrapper .navbar-toggler:not(.navbar-toggler-right) {
    display: none;
  }
}
@media (max-width: 991px) {
  .navbar .navbar-menu-wrapper .navbar-toggler.navbar-toggler-right {
    padding-left: 15px;
    padding-right: 11px;
    border-right: none;
  }
}
.navbar .navbar-menu-wrapper .input-group input {
  font-size: 0.875rem;
  font-weight: 500;
}
.navbar .navbar-menu-wrapper .input-group input:-ms-input-placeholder {
  font-size: 0.875rem;
  color: #9c9fa6;
  font-family: "ubuntu-light", sans-serif;
}
.navbar .navbar-menu-wrapper .input-group input:-moz-placeholder {
  font-size: 0.875rem;
  color: #9c9fa6;
  font-family: "ubuntu-light", sans-serif;
}
.navbar .navbar-menu-wrapper .input-group input::-moz-placeholder {
  font-size: 0.875rem;
  color: #9c9fa6;
  font-family: "ubuntu-light", sans-serif;
}
.navbar .navbar-menu-wrapper .input-group input::-webkit-input-placeholder {
  font-size: 0.875rem;
  color: #9c9fa6;
  font-family: "ubuntu-light", sans-serif;
}
.navbar .navbar-menu-wrapper .input-group i {
  font-size: 16px;
  margin-right: 0;
  color: #d6d7dc;
}
.navbar .navbar-menu-wrapper .input-group .input-group-text {
  background: transparent;
}
@media (max-width: 991px) {
  .navbar .navbar-menu-wrapper .input-group {
    width: 40% !important;
  }
}

.navbar .navbar-menu-wrapper .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
  color: inherit;
  font-size: 0.875rem;
  margin-right: 1rem;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 767px) {
  .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link i {
  font-size: 1.25rem;
}

/* Nav menu-dropdowns */
.navbar
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.dropdown
  .dropdown-toggle:after {
  display: none;
  color: white;
  font-size: 14px !important;
}
.dropdown-menu[data-bs-popper] {
  left: 0px !important;
  margin: auto;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu {
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
}
.navbar
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.dropdown
  .dropdown-menu.navbar-dropdown {
  position: absolute;
  font-size: 0.9rem;
  margin-top: 0;
  padding: 0;
}
.rtl
  .navbar
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.dropdown
  .dropdown-menu.navbar-dropdown {
  right: auto;
  left: 0;
}
.navbar
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.dropdown
  .dropdown-menu.navbar-dropdown
  .dropdown-item {
  margin-bottom: 0;
  padding: 11px 13px;
  cursor: pointer;
}
.navbar
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.dropdown
  .dropdown-menu.navbar-dropdown
  .dropdown-item
  i {
  font-size: 17px;
}
.navbar
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.dropdown
  .dropdown-menu.navbar-dropdown
  .dropdown-item
  .ellipsis {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rtl
  .navbar
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.dropdown
  .dropdown-menu.navbar-dropdown
  .dropdown-item
  i {
  margin-left: 10px;
}
.navbar
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.dropdown
  .dropdown-menu.navbar-dropdown
  .dropdown-divider {
  margin: 0;
}

.navbar
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.nav-profile
  .nav-link
  .nav-profile-img {
  position: relative;
  width: 32px;
  height: 32px;
}
.navbar
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.nav-profile
  .nav-link
  .nav-profile-img
  img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}
.navbar
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.nav-profile
  .nav-link
  .nav-profile-text {
  margin-left: 1.25rem;
}
.rtl
  .navbar
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.nav-profile
  .nav-link
  .nav-profile-text {
  margin-left: 0;
  margin-right: 1.25rem;
}
.navbar
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.nav-profile
  .nav-link
  .nav-profile-text
  p {
  line-height: 1;
}
@media (max-width: 767px) {
  .navbar
    .navbar-menu-wrapper
    .navbar-nav
    .nav-item.nav-profile
    .nav-link
    .nav-profile-text {
    display: none;
  }
}
.navbar
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.nav-profile
  .nav-link.dropdown-toggle:after {
  line-height: 2;
}
@media (min-width: 992px) {
  .navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
    margin-left: auto;
  }
  .rtl .navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
    margin-left: 0;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar .navbar-brand-wrapper {
    width: 75px;
  }
  .navbar .navbar-brand-wrapper .navbar-brand.brand-logo {
    display: none;
  }
  .navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini {
    display: inline-block;
  }
  .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0.5rem;
  }
}

@media (max-width: 480px) {
  .navbar .navbar-brand-wrapper {
    width: 55px;
  }
  .navbar .navbar-brand-wrapper .brand-logo-mini {
    padding-top: 0px;
  }
}

/* Sidebar */
.sidebar {
  min-height: calc(100vh - 70px);
  background: #ffffff;
  font-family: "ubuntu-regular", sans-serif;
  padding: 0;
  width: 260px;
  z-index: 11;
  transition: width 0.25s ease, background 0.25s ease;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  -moz-transition: width 0.25s ease, background 0.25s ease;
  -ms-transition: width 0.25s ease, background 0.25s ease;
}
.sidebar .nav {
  overflow: hidden;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 60px;
}
.sidebar .nav .nav-item {
  padding: 0 2.25rem;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  transition-property: background;
  -webkit-transition-property: background;
}
.sidebar .nav .nav-item .collapse {
  z-index: 999;
}
.sidebar .nav .nav-item .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  padding: 0.5rem 0 0.5rem 0;
  color: #3c7edc;
  -webkit-transition-duration: 0.45s;
  transition-duration: 0.45s;
  transition-property: color;
  -webkit-transition-property: color;
  text-decoration: none;
}
.sidebar .nav .nav-item .nav-link i {
  color: inherit;
}
.sidebar .nav .nav-item .nav-link i.menu-icon {
  font-size: 1.125rem;
  line-height: 1;
  color: #3c7edc;
}
.rtl .sidebar .nav .nav-item .nav-link i.menu-icon {
  margin-left: 0;
  margin-right: auto;
}
.sidebar .nav .nav-item .nav-link i.menu-icon:before {
  vertical-align: middle;
}
.sidebar .nav .nav-item .nav-link .menu-title {
  color: inherit;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1;
  vertical-align: middle;
  margin-left: 20px;
  text-decoration: none;
}
.sidebar .nav .nav-item .nav-link .badge {
  margin-right: auto;
  margin-left: 1rem;
}
.sidebar .nav .nav-item .nav-link[aria-expanded="true"] .menu-arrow:before {
  content: "\f140";
}
.sidebar .nav .nav-item {
  margin: 5px 15px;
  padding: 0 20px 0 20px;
  border-radius: 10px;
}
.sidebar .nav .nav-item.active {
  background-color: #3c7edc;
  color: white;
  margin: 5px 15px;
  padding: 0 20px 0 20px;
  border-radius: 10px;
}
.sidebar .nav .nav-item.active .collapse {
  border-radius: 100%;
}
.sidebar .nav .nav-item.active > .nav-link {
  color: white;
  font-family: "ubuntu-medium", sans-serif;
}
.sidebar .nav .nav-item.active > .nav-link i {
  color: white;
}
.sidebar .nav .nav-item:hover {
  /* background: #fcfcfc; */
}

.sidebar
  .nav:not(.sub-menu)
  > .nav-item:hover:not(.nav-category):not(.nav-profile)
  > .nav-link,
.sidebar
  .nav:not(.sub-menu)
  > .nav-item:hover:not(.nav-category):not(.nav-profile)
  > .nav-link
  i {
  color: #6c757d;
}
.sidebar
  .nav:not(.sub-menu)
  > .nav-item.active:hover:not(.nav-category):not(.nav-profile)
  > .nav-link,
.sidebar
  .nav:not(.sub-menu)
  > .nav-item.active:hover:not(.nav-category):not(.nav-profile)
  > .nav-link
  i {
  color: #ffffff;
}

/* style for off-canvas menu*/
@media screen and (max-width: 991px) {
  .sidebar-offcanvas {
    position: fixed;
    max-height: calc(100vh - 70px);
    top: 70px;
    bottom: 0;
    overflow: auto;
    right: -260px;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .sidebar-offcanvas.active {
    right: 0;
  }
}

/* Layouts */
.navbar.fixed-top + .page-body-wrapper {
  padding-top: 70px;
}

@media (min-width: 992px) {
  .sidebar-icon-only .navbar .navbar-brand-wrapper {
    width: 70px;
  }
  .sidebar-icon-only .navbar .navbar-brand-wrapper .brand-logo {
    display: none;
  }
  .sidebar-icon-only .navbar .navbar-brand-wrapper .brand-logo-mini {
    display: inline-block;
  }
  .sidebar-icon-only .navbar .navbar-menu-wrapper {
    width: calc(100% - 70px);
  }
  .sidebar-icon-only .sidebar {
    width: 70px;
  }
  .sidebar-icon-only .sidebar .nav {
    overflow: visible;
  }
  .sidebar-icon-only .sidebar .nav .nav-item {
    position: relative;
    padding: 0 !important;
    border-radius: 100%;
    background-color: #eff6ff;
  }
  .sidebar-icon-only .sidebar .nav .nav-item.active {
    position: relative;
    border-radius: 100%;
    color: white;
    background-color: #3c7edc;
  }
  .sidebar-icon-only .sidebar .nav .nav-item .nav-link {
    display: block;
    text-align: center;
  }
  .sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-title,
  .sidebar-icon-only .sidebar .nav .nav-item .nav-link .badge,
  .sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-sub-title {
    display: none;
  }
  .sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-title {
    border-radius: 0 5px 5px 0px;
  }
  .rtl.sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-title {
    border-radius: 5px 0 0 5px;
  }
  .sidebar-icon-only .sidebar .nav .nav-item .nav-link i.menu-icon {
    margin-right: 0;
    margin-left: 0;
  }
  .sidebar-icon-only .sidebar .nav .nav-item .nav-link i.menu-arrow {
    display: none;
  }
  .sidebar-icon-only
    .sidebar
    .nav
    .nav-item
    .nav-link[aria-expanded]
    .menu-title {
    border-radius: 0 5px 0 0px;
  }
  .rtl.sidebar-icon-only
    .sidebar
    .nav
    .nav-item
    .nav-link[aria-expanded]
    .menu-title {
    border-radius: 5px 0 0 0;
  }

  .sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link .menu-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #3c7edc;
    color: #fcfcfc;
    padding: 0.5rem 1.4rem;
    left: 35px;
    position: absolute;
    text-align: left;
    top: 0;
    bottom: 0;
    width: 190px;
    z-index: 1;
    line-height: 1;
  }

  .rtl.sidebar-icon-only
    .sidebar
    .nav
    .nav-item.hover-open
    .nav-link
    .menu-title {
    left: auto;
    right: 70px;
    text-align: left;
  }
  .sidebar-icon-only
    .sidebar
    .nav
    .nav-item.hover-open
    .nav-link
    .menu-title:after {
    display: none;
  }
  .sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapse,
  .sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapsing {
    display: block;
    padding: 0.5rem 0;
    background: #fcfcfc;

    border-radius: 0 0 5px 0;
    position: absolute;
    left: 70px;
    width: 190px;
  }
  .rtl.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapse,
  .rtl.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapsing {
    left: auto;
    right: 70px;
    border-radius: 0 0 0 5px;
  }
  .sidebar-icon-only .sidebar .nav.sub-menu {
    padding: 0 0 0 1.5rem;
  }
  .sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link {
    text-align: left;
    padding-left: 20px;
  }
  .rtl.sidebar-icon-only .sidebar .nav.sub-menu .nav-item {
    margin-right: auto;
    margin-left: 0;
  }
  .rtl.sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link {
    text-align: right;
  }
  .rtl.sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link:before {
    left: 0;
    right: unset;
  }
  .sidebar-icon-only .sidebar .sidebar-actions {
    display: none;
  }
  .sidebar-icon-only .main-panel {
    width: calc(100% - 70px);
  }
}

/* Page Body Wrapper  -------------------- */
.page-body-wrapper {
  min-height: calc(100vh - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.page-body-wrapper.full-page-wrapper {
  width: 100%;
  min-height: 100vh;
}

/* Main Content ----------- */
.main-panel {
  -webkit-transition: width 0.25s ease, margin 0.25s ease;
  transition: width 0.25s ease, margin 0.25s ease;
  width: calc(100% - 260px);
  min-height: calc(100vh - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 991px) {
  .main-panel {
    margin-left: 0;
    width: 100%;
  }
}
.content-wrapper {
  background: #f2edf3;
  padding: 1rem 2.25rem;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

/* Footer */
.footer {
  background: #f2edf3;
  color: color(dark);
  border-top: 1px solid #e7dee9;
  padding: 20px 1rem;
  transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  font-size: calc(0.875rem - 0.05rem);
  font-family: "ubuntu-regular", sans-serif;
}
.footer a {
  color: #1bcfb4;
  font-size: inherit;
}
@media (max-width: 991px) {
  .footer {
    margin-left: 0;
    width: 100%;
  }
}

/* Primary Button-------------- */
.btn-primary {
  background-color: #3c7edc !important;
  color: white !important;
}
.btn-primary:hover {
  background-color: #fff !important;
  border: 1px solid #3c7edc;
  color: #3c7edc !important;
}

/* Table ------------------------- */
.table thead tr th {
  background-color: #3c7edc;
  color: #fff;
  font-weight: normal;
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
  background-color: #d6e6f9;
}

/* Breadcrumb */
.breadcrumb .breadcrumb-item a,
.breadcrumb .breadcrumb-item {
  color: #3c7edc;
  text-decoration: none;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: #3c7edc;
}

/* Login + */
body.login,
html {
  height: 100%;
  margin: 0;
}

.login-bg {
  background-image: url("../images/login-bkg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-signin {
  width: 400px;
  margin: 75px 75px 0;
  position: absolute;
  top: 0;
  right: 0;
}

.btn-gradient-primary {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#3567d3),
    to(#ce22b2)
  );
  background: linear-gradient(to right, #3567d3, #ce22b2);
  border: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: #fff;
}

.btn-gradient-primary:hover {
  opacity: 0.8;
  color: #fff;
}

@media (min-width: 300px) and (max-width: 1100px) {
  .form-signin {
    float: none;
    margin: 100px 20px;
    width: 350px;
  }
}

/* Modal----------- */
.modal-header {
  padding: 12px !important;
  background-color: #3c7edc;
  color: #fff;
  border-bottom: 1px solid #ebedf2;
}
.modal-header .btn-close {
  font-size: 10px !important;
  color: #fff !important;
}
.modal-footer {
  justify-content: flex-end;
  margin-top: 10px;
  padding: 10px !important;
  border-top: 1px solid #c1c1c4;
}

/* Tabs    -------- */
.nav-pills .nav-link {
  background-color: #fff;
  color: #333;
}
.nav-pills .nav-link:hover {
  color: #3c7edc;
}
.nav-pills .nav-link.active {
  background-color: #3c7edc;
  color: #fff;
}
.tab-pane h6 {
  color: #000;
}
.content-logo-img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
@media (max-width: 900px) {
  .content-logo-img {
    height: 80px;
    width: 80px;
    border-radius: 100%;
  }
}
@media (max-width: 900px) {
  .title-col {
    padding-left: 12px !important;
  }
}

/* Accordion */
.accordion-button {
  color: white;
}
.accordion-button:after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button:not(.collapsed):after{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button:not(.collapsed) {
  background-color: #3c7edc;
  color: white;
}
.accordion-button:focus{
  box-shadow: none !important;
}